.login_panel .social {
	margin-bottom: 10px;
	text-align: left;
}

.login_panel .social .dropbox {
	background: #1087dd url("../../images/modules/DropBoxAuth/icon.png") 4px 3px no-repeat;
	border: 1px solid #5399cd;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	text-align: right;
	width: 75px;
	
	.text {
		background: #1087dd;
		border-left: 1px solid #5399cd;
		color: #fff;
		line-height: 21px;
		padding: 3px 7px 2px 8px;
		text-decoration: none;
		vertical-align: top;
	}
}
